html{
	background: #ffffff;
	color: #444444;
	font-family: Sans;
	font-size: 15px;
}
main{
	margin-top: 4.4em;
}
.alert{
	float: left;
	width:100%;
	font-size: 0.8em;
	padding-top: 0.3em;
	text-align: left;
	cursor: pointer;
}
.alert-danger{
	color: #ff0000;
}
.alert-session{
	color: #444444;
}
.alert-success{
	color: #008800;
}
button, .inputbutton{
	font-size: 1em;
	padding: 0.4em 2.0em 0.4em 2.0em;
	background: linear-gradient(0deg, #e4fcef 20% , #ffffff 91%);
	color: #000000;
	border: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	border-radius: 4px;
	margin: 1em 1em 1em 0;
}
button:hover{
	background: #ffffff;
	color: #000000;
	border: 1px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}
.buttonsubmit{
	margin-left: -1.1em;
}
.card{
	border: 1px solid #cccccc;
	border-radius: 0.2em;
	float: left;
	width: 100%;
	min-width: 470px;
	max-width: 700px;
	margin-bottom: 4em;
}
.card100{
	border: 1px solid #cccccc;
	border-radius: 0.2em;
	float: left;
	width: 100%;
	padding-bottom: 3em;
}
.card-body{
	text-align: left;
	padding: 1.4em;
}
.card-body.grid{
	text-align: left;
	padding: 0.1em 0.4em 1.4em 0.4em;
}
.card-header{
	background: #e4fcef;
	border-radius: 0.2em 0.2em 0 0;
	border-bottom: 1px solid #cccccc;
	height: 3em;
	padding: 0.3em 0 0 1em;
}
.card-header-title{
	font-size: 1.4em;
	text-align: left;
	float: left;
	margin-bottom: 0.3em;
}
.card-header-info{
	font-size: 0.9em;
	text-align: left;
	float: left;
	margin-bottom: 0.5em;
}
.col50{
	text-align: center;
	margin: 0 auto;
	width: 50%;
}
.col80{
	text-align: center;
	margin: 0 auto;
	width: 80%;
}
.col100{
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
a.colornodecor{
	color: #04a34d;
	text-decoration: none;
	font-size: 0.9em;
}
.form-group{
	min-height: 3em;
}
.form-info{
	border-left: 1px solid #cccccc;
	padding: 1em;
	margin: 1em 0 2em 0;
}
.form-input{
	float: left;
	margin-left: 1em;
	min-width: 65%;
}
.form-inputinput{
	width: 100%;
	height: 2em;	
}
.form-inputselect{
	width: 100%;
	height: 2em;
	font-size: 1em;	
}
.form-inputcheck{
	float: left;
	width: 1.6em;
	height: 2.6em;
}
.form-inputright{
	padding: 1em 1.7em 2em 0;
	float: right;
}
.form-label{
	float: left;
	min-width: 25%;
	font-size: 0.9em;
	margin-top: 0.8em;
}
button.grid{
	padding: 0.2em 1em 0.2em 1em;
}
.gridcontrols{
	float: left;
	width: 75%;
	max-width: 600px;
}
.gridcontrolstable{
	cursor: pointer; 
	float: right; 
	width: 50%;
}
.gridtable{
	border: none;
	width: 100%;
	font-size: 0.9em;
	cursor: pointer;
}
.header-brand{
	float: left;
	margin-left: 1em;
	color: #444444;
	font-weight: 400;
	font-size: 0.9em;
	text-align: right;
}
span.invalid-feedback{
	color: red;
	font-size: 0.6em;
	float: left;
	width: 100%;
}
li.navbar{
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
}
ul.navbar{
	list-style: none;
	float: right;
	margin: 0.8em 1.6em 0 0;
	width: 40%;
}
nav.navbar{
	position: fixed;
	top: 0;
	padding-top: 0.3em;
	float: left;
	width: 100%;
	height: 3.7em;
	font-size: 1em;
	border-bottom: 1px solid #eeeeee;
	background: #ffffff;
}
.navbar-brand{
	float: left;
	margin: 0 2em 0 2em;
}
.navuser{
	padding-top: 0.3em;
	font-size: 0.9em;
	float: right;
	width: 14em;
}
.navmain{
	padding-top: 0.3em;
	font-size: 0.9em;
	float: left;
	min-width: 11em;
}
.newline{
	width: 100%; 
	height:2em;
	float: left;
}
.results-buttons{
	margin: 2em 0 0 1.4em;
	text-align: left;
	float: left;
	width: 90%;
}
.results-graph{
	border: 2px solid #009873;
	width: 730px;
	height: 400px;
	float: left;
}
.results-header{
	font-weight: bold;
}
.results-stats{
	padding: 5px;
	border: 2px solid #009873; 
	width: calc(100% - 770px); 
	height: 390px; 
	float: right;
	font-size: 1.0em;
}
.s100{
	width: 100%;
	height: 30px;
	background: #ffffff;
	border: none;
	font-size:1.0em;
	font-family: Sans;
}
.toprightlinks{
	text-decoration: none;
	padding-left: 4em;
	float: right;
	text-transform: uppercase;
	color: #444444;
}
.toprightmenu{
	font-size: 0.8em;
	font-weight: bold;
	float: right;
	width: 100%;
	margin: 1em 2em 2em 0;
}
tr.trline td{
	border-bottom: 1px dashed #dddddd;
	font-size: 0.8em;
}
.w3caret{
	float: right;
	width: 0; 
	height: 0; 
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.4em solid #000000;
}
.w3navbar {
	overflow: hidden;
	background: #e4fcef;
	width: 100%;
}
.w3navbar a {
	float: left;
	color: #444444;
	text-align: center;
	padding: 1em 1em 1em 1em;
	text-decoration: none;
}
.w3ddown {
	float: left;
	overflow: hidden;
	width: 100%;
	border-radius: 0.3em;
}
.w3ddown .w3dbtn {
	cursor: pointer;
	border: none;
	outline: none;
	color: #444444;
	background: inherit;
	padding: 1em;
	margin: 0;
	font-size: 1em;
	font-family: Sans;
	width: 100%;
}
.w3navbar a:hover, .w3ddown:hover .w3dbtn, .w3dbtn:focus {
	background: #2ca05a;
	color: #ffffff;
}
w3ddown:hover{
	color: #ffffff;
}
.w3dbtn.client{
	text-align: center;
}
.w3ddown-content {
	cursor: pointer;
	display: none;
	position: absolute;
	background: #ffffff;
	min-width: 12em;
	box-shadow: 0 0.8em 1.6em 0 rgba(0,0,0,0.2);
	z-index: 9999;
}
.w3ddown-content a {
	float: none;
	color: #444444;
	padding: 0.7em 1.4em 0.7em 1em;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 0.9em;
}
.w3ddown-content a:hover {
	background-color: #2ca05a;
}
.w3show {
	display: block;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 200px;
    z-index: 0;
}
.upload-btn {
    z-index: 0;
	border: 1px solid #888888;
    color: #000000;
    background-color: #eeeeee;
    padding: 4px 20px;
    border-radius: 3px;
    font-size: 14px;
    width: 120px;
}
.upload-btn-wrapper input[type=file] {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
progress.upload{
    height: 25px;
    width: 100%;
}
.uploadfilesize{
    position: absolute;
    margin-left: 10px;
    line-height: 0;
}
table.upload {
    border-spacing: 4px;
    border-left: 1px solid #d8d8d8;
    border-collapse: separate;
}
